@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html, body {
    height:40vh;
    width: 100;
    font-family: "Roboto", sans-serif;
    background-color: black;
    box-sizing: border-box;
}
.button{
    padding-top: 50px;   
    padding-left: 55px;   
    padding-right: 55px;   
    padding-bottom: 50px;   
    border: 3px solid black;
    border-radius:60%;
    cursor: pointer;
    background-color: #222;
    font-size: 20px;
    font-weight: 600;
    color: white;
}
.row{
    /* margin: 0 3px; */
    /* margin: 8px 0; */
}
.row input{
    font-size: 35px;
    background-color: #222;
    margin: 0;
    padding: 10px 0px;
    border: 3px solid black;
    border-radius: 5px;
}
.orange{
    background-color: orange;
}

.white{
    background-color: white;
    color: black;
}
.text-center{
    color: white;
}
.padding{
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}